# Packages required for building Borg
borg_pip_packages:
  - build-essential
  - libacl1
  - libacl1-dev
  - libfuse3-dev
  - liblz4-dev
  - libssl-dev
  - libxxhash-dev
  - libzstd-dev
  - python3-dev
  - python3-msgpack
  - python3-pip
  - python3-pkgconfig
  - python3-setuptools
  - python3-venv

# Version of Borg to install
borg_version: '<2.0.0'

# Additional Python packages to install in the virtual environment
borg_python_packages:
  - pyfuse3

# Whether to create symlinks in /usr/local/bin
borg_create_symlinks: yes

# Path to the Borg binary
borg_binary_location: /usr/local/bin/borg
