- name: Add SURY PPA APT repository
  ansible.builtin.deb822_repository:
    name: php
    signed_by: https://packages.sury.org/php/apt.gpg
    uris:
      - https://packages.sury.org/php/
    suites:
      - "{{ ansible_distribution_release }}"
    components:
      - main
  check_mode: false

- name: Install nginx-full and PHP
  apt:
    pkg: >
      {{
        [
          'nginx-full',
          'python3-certbot-nginx',
        ] +
        (['php'] | product(php_versions, ['-'] | product(
          (
            ['fpm', 'cgi', 'cli', 'mbstring'] +
            php_extra_packages
          ) | unique
        ) | map('join') | list) | map('join') | list)
      }}
    state: present

- name: Install Composer
  include_role:
    name: geerlingguy.composer
  when: not ansible_check_mode

- name: Remove default config
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Reload nginx

- name: Create /etc/ssl/nginx
  file:
    path: /etc/ssl/nginx
    state: directory

- name: Generate dhparams
  shell: openssl dhparam -dsaparam -out /etc/ssl/nginx/dhparams.pem 4096
  args:
    creates: /etc/ssl/nginx/dhparams.pem
  notify: Reload nginx

- name: Protect dhparams
  file:
    path: /etc/ssl/nginx/dhparams.pem
    mode: 0600
  ignore_errors: "{{ ansible_check_mode }}"
  notify: Reload nginx

- name: Create /etc/nginx/global
  file:
    path: /etc/nginx/global
    state: directory

- name: Create global nginx configs
  template:
    src: "{{ item }}"
    dest: "/etc/nginx/{{ item | regex_replace('^.+\\.\\./templates/install/(.+)\\.j2$', '\\1') }}"
  notify: Reload nginx
  with_fileglob:
    - ../templates/install/*.j2
    - ../templates/install/conf.d/*.j2
    - ../templates/install/global/*.j2

- name: Enable nginx
  systemd:
    name: nginx
    state: started
    enabled: true
