- name: Add GitLab-Runner APT repository
  with_items:
    - deb
    - deb-src
  ansible.builtin.deb822_repository:
    name: gitlab-runner
    signed_by: https://packages.gitlab.com/runner/gitlab-runner/gpgkey
    types:
      - deb
      - deb-src
    uris:
      - "https://packages.gitlab.com/runner/gitlab-runner/{{ ansible_distribution | lower }}/"
    suites:
      - "{{ ansible_distribution_release }}"
    components:
      - main
  check_mode: false

- name: Setup APT pinning for the runner
  template:
    src: apt/pin-gitlab-runner.pref.j2
    dest: /etc/apt/preferences.d/pin-gitlab-runner.pref

- name: Install GitLab-Runner
  apt:
    name: gitlab-runner
    update_cache: yes

- name: Configure gitlab-runner
  template:
    src: gitlab-runner/config.toml.j2
    dest: /etc/gitlab-runner/config.toml
  notify: Restart gitlab-runner

- name: Remove .bash_logout
  file:
    path: /home/gitlab-runner/.bash_logout
    state: absent
