# {{ ansible_managed }}
# Allow insecure keys
# Source: https://neilzone.co.uk/2026/01/dealing-with-apts-warning-policy-will-reject-signature-within-a-year-see---audit-for-details/
APT::Key::GPGVCommand "1";
