bridge_physical_interface: enp1s0f0

borgmatic_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61373030313834633839613238666534636438613231393466333131336538353632353861663062
  6537353536643436373962666334323965333433333839330a386439326331376137376533373234
  36663835336437353961393064656464646333656539636366313738393732326361306333303731
  3138393436373539320a313233353631373330616637323930306236303837333031323866353137
  32396161656365323132333536393831383838613832313861646262366430646162613635623665
  63613534373436663866346166383732626237653834353634393332323764393330313031616664
  31313539313030316132653566613536663162396438373531376130666538383834373739356266
  37313362623266376666306466613065653831353434626336666265623638363661653433393666
  66663562646235643632303264306261633161353831623032663238373666626461

borgmatic_paths_exclude:
  - /data/share/Server Backup/old_backups

borgmatic_compression: zstd,15
borgmatic_sync_remote_path: borgwarehouse@borg.project-creative.net:./1e6ecdcb/

gitlab_runner_id: 3

gitlab_runner_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33613563633934633165666334393834303063333265626462326131626261663461363137616462
  3162313335376365333233666232323965346339336437650a656534653737316336383061343361
  39653936343132323961306666303230363465656137353938316331333264646662376563656236
  6439303537393132650a616538363535323638376135653266336664323635646238656434353166
  37323262336130363630336536666131303339646232633037393666666131636239

php_extra_packages:
  - bcmath
  - ctype
  - curl
  - intl
  - mysql
  - pdo
  - pgsql
  - sqlite3
  - tokenizer
  - xml
  - zip

# Setting these defaults manually because they are used in other variables
heimdall_php_version: '8.2'
heimdall_base_dir: /var/www/heimdall

php_versions:
  - '8.1'
  - "{{ heimdall_php_version }}"

nginx_base_name: brainbox.project-creative.net

nginx_php_sites:
  brainbox.project-creative.net:
    root: "{{ heimdall_base_dir }}/public"
    php_version: "{{ heimdall_php_version }}"
  
nginx_reverse_proxies:
  vpn.brainbox.project-creative.net:
    host: "{{ wireguard_easy_listen_ip }}"
    port: "{{ wireguard_easy_port }}"
    secure: true
  home-assistant.brainbox.project-creative.net:
    host: "{{ hassio_ip }}"
    port: "8123"
  cockpit.brainbox.project-creative.net:
    proto: https
    host: "10.69.42.99"
    port: "9090"
    secure: true
  pihole.brainbox.project-creative.net:
    host: "{{ pihole_ftl_listen_host }}"
    port: "{{ pihole_ftl_listen_port }}"
    secure: true

vouch_homeassistant_url: "https://home-assistant.brainbox.project-creative.net"

wireguard_easy_listen_ip: '127.0.0.1'
wireguard_easy_port: 9101
wireguard_easy_wg_host: vpn.brainbox.project-creative.net
wireguard_easy_wg_default_address: 10.42.69.0/24
wireguard_easy_wg_persistent_keepalive: 25
wireguard_easy_wg_allowed_ips:
  - "{{ (ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask) | ansible.utils.ipaddr('network/prefix') }}"
  - "{{ wireguard_easy_wg_default_address }}"

hassio_data: /data/home-assistant
hassio_ip: '10.69.42.40'

influxdb_url: http://hassio.brainbox.project-creative.net:8086
influxdb_database: homeAssistant
influxdb_username: homeAssistant
influxdb_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39383633343137623163346230323862306362376632316530333635393965306430666463383236
  6230613139386235376662666133646633316665383430370a653365613739633465313137393538
  38303032356230646166313932343362613233633335653536313532623431393537663837653365
  3037613838653939320a393030623761393364613335636661383239306133353736373033353762
  66376362653532313065383937653165343065346232393763303561373535643762

telegraf_agent_hostname: "{{ ansible_nodename }}"
telegraf_agent_docker: false
telegraf_agent_package_method: repo
telegraf_agent_package_state: latest
telegraf_agent_output:
  - type: influxdb
    config:
      - urls = ["{{ influxdb_url }}"]
      - database = "{{ influxdb_database }}"
      - username = "{{ influxdb_username }}"
      - password = "{{ influxdb_password }}"
telegraf_plugins_default:
  - plugin: internal
    config:
      - collect_memstats = true
  - plugin: cpu
    config:
      - percpu = true
  - plugin: kernel
  - plugin: disk
    tagpass:
      - fstype = ["ext4", "btrfs", "xfs", "zfs"]
  - plugin: diskio
  - plugin: mem
  - plugin: system
  - plugin: swap
  - plugin: netstat
  - plugin: net
  - plugin: processes
  - plugin: docker
    config:
      - endpoint = "unix:///var/run/docker.sock"
      - timeout = "5s"
      - perdevice_include = ["cpu", "blkio", "network"]
  - plugin: chrony
  - plugin: wireguard
  - plugin: exec
    config:
      - commands = ["/usr/local/bin/speedtest.sh"]
      - timeout = "10m"
      - interval = "1h"
      - data_format = "json"
      - json_strict = true
      - tag_keys = ["server_id", "server_name", "server_host", "server_location", "server_country", "ipFamily"]
      - fieldpass = ["ping_*", "download_*", "upload_*", "packetLoss", "isp", "server_ip"]
      - json_string_fields = ["isp", "server_ip"]
      - name_override = "speedtest"
      - json_time_key = "timestamp"
      - json_time_format = "2006-01-02T15:04:05Z07:00"
      - json_timezone = "Local"
  - plugin: ping
    config:
      - urls = ["google.com", "cloudflare.com", "speedtest.telemaxx.net", "voiptest.starface.de", "sp1.mbn-glasfaser.de", "speedtest.sit-cloud.de", "speedtest.pfalzkom.de", "speedtest.twl-kom.de", "testdebit.laregie.fr", "speedtest1.bc-networks.de", "speed1.dg-sys.net", "speedtest.indasys.cloud"]
      - interval = "1m"
      - method = "exec"
      - arguments = ["-c", "5", "-W", "3", "-4"]
    tags:
      - protocol = "ipv4"
  - plugin: ping
    config:
      - urls = ["google.com", "cloudflare.com", "speedtest.sit-cloud.de", "speedtest.pfalzkom.de", "speed1.dg-sys.net", "speedtest.indasys.cloud"]
      - interval = "1m"
      - method = "exec"
      - arguments = ["-c", "5", "-W", "3", "-6"]
    tags:
      - protocol = "ipv6"
  - plugin: fail2ban
    config:
      - use_sudo = true
