#! /bin/sh
# {{ ansible_managed }}

export TERM=xterm-256color

ORANGE="$(tput setaf 166)"
BOLD="$(tput bold)"
RESET="$(tput sgr0)"

# Print system information
echo "{{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }} {{ ansible_architecture }}, {{ ansible_processor_count }} cpus, {{ ansible_processor_cores }} cores, {{ (ansible_memtotal_mb / 1024.0) | round(2) }} GB RAM${ORANGE}${BOLD}"

# Server Name Banner
figlet -t -f smslant -k {{ inventory_hostname.split('.')[0] }}

# Ansible Information
echo "${RESET}This host is Ansible managed!"
echo "Welcome on ${BOLD}{{ inventory_hostname }}${RESET}."

# List IPs
echo
echo "IPv4:"

echo "  * $(curl -4sSL http://ifconfig.me)"
{% for ip in ansible_all_ipv4_addresses | ipaddr('int') | sort | ipaddr %}
echo "  * {{ ip }}"
{% endfor %}

echo
echo "IPv6:"

{% for ip in ansible_all_ipv6_addresses | ipaddr('public') | ipaddr('int') | sort | ipaddr %}
echo "  * {{ ip }}"
{% endfor %}

echo
