- name: Add Docker APT repository
  ansible.builtin.deb822_repository:
    name: docker
    signed_by: https://download.docker.com/linux/ubuntu/gpg
    uris:
      - "https://download.docker.com/{{ ansible_system | lower }}/{{ ansible_distribution | lower }}"
    suites:
      - "{{ ansible_distribution_release }}"
    components:
      - stable
  check_mode: false

- name: Install Docker CE
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    update_cache: yes

- name: Configure docker
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
  notify: Restart docker

- name: Configure GRUB
  template:
    src: grub.cfg.j2
    dest: /etc/default/grub.d/99-docker.cfg
  notify: Update GRUB

- name: Enable docker
  systemd:
    name: docker
    state: started
    enabled: true
