- name: Add Ansible Repo for Debian or Ubuntu
  ansible.builtin.deb822_repository:
    name: ansible
    signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367
    uris:
      - http://ppa.launchpad.net/ansible/ansible/ubuntu
    suites:
      - "{{ 'noble' if (ansible_distribution == 'Debian') else ansible_lsb.codename }}"
    components:
      - main
  check_mode: false

- name: Ensure /etc/bash_completion.d exists
  file:
    path: /etc/bash_completion.d
    state: directory

- name: Install Ansible
  apt:
    pkg:
      - ansible
      - openssh-server
      - openssh-sftp-server
      - "{{ python_package_version }}-argcomplete"
      - "{{ python_package_version }}-jmespath"
      - "{{ python_package_version }}-lxml"
      - "{{ python_package_version }}-netaddr"
    state: latest
    update_cache: true
  notify: Register python-argcomplete
