- name: Install additional apt protocol supports
  apt:
    pkg:
      - apt-transport-https
    update_cache: false

- name: Configure Debian Sources
  ansible.builtin.deb822_repository:
    name: debian
    signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
    types:
      - deb
      - deb-src
    uris:
      - mirror+file:///etc/apt/mirrors/debian.list
    suites:
      - "{{ ansible_distribution_release }}"
      - "{{ ansible_distribution_release }}-updates"
      - "{{ ansible_distribution_release }}-backports"
    components:
      - main
      - contrib
      - non-free-firmware
  check_mode: false

- name: Configure Debian Security Sources
  ansible.builtin.deb822_repository:
    name: debian-security
    signed_by: /usr/share/keyrings/debian-archive-keyring.gpg
    types:
      - deb
      - deb-src
    uris:
      - mirror+file:///etc/apt/mirrors/debian-security.list
    suites:
      - "{{ ansible_distribution_release }}-security"
    components:
      - main
      - contrib
      - non-free-firmware
  check_mode: false

- name: Add Azlux's repository
  ansible.builtin.deb822_repository:
    name: azlux
    signed_by: https://azlux.fr/repo.gpg.key
    uris:
      - https://packages.azlux.fr/debian/
    suites:
      - "{{ ansible_distribution_release | lower }}"
    components:
      - main
  check_mode: false

- name: Add Roberto Mier Escandon's repo
  ansible.builtin.deb822_repository:
    name: rmescandon-yq
    signed_by: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xCC86BB64
    uris:
      - http://ppa.launchpad.net/rmescandon/yq/ubuntu
    suites:
      - jammy
    components:
      - main
  check_mode: false

- name: Install Base Packages
  apt:
    pkg: "{{ base_packages }}"
    state: latest
    autoclean: true
    autoremove: true
    update_cache: true
  notify: Set up command-not-found

- name: Enable systemd-journal persitent log
  file:
    path: /var/log/journal
    state: directory
    owner: root
    group: systemd-journal
    mode: 02755

- name: Set Timezone
  copy:
    content: "{{ timezone }}\n"
    dest: /etc/timezone
    owner: root
    group: root
    mode: 0644
  notify:
    - Update timedatectl
    - Update Timezone
    - Restart syslog
