#! /bin/bash
# {{ ansible_managed }}

# Force to run with bash
[ -z "$BASH" ] && { bash "$0" "$@"; exit; }

function print_exec() {
	local command_str arg

	command_str=""

	for arg in "$@"; do
		if [[ "$(printf %q "$arg")" == "$arg" ]]; then
			command_str+=" $arg"
		else
			command_str+=" ${arg@Q}"
		fi
	done

	echo -en "\a"
	figlet -t -f smslant -k "      ${command_str// /  }"
	"$@"
}

print_exec apt update
print_exec apt dist-upgrade
print_exec apt autoremove
print_exec apt autoclean
