# {{ ansible_managed }}
# Pull data from systemd
$ModLoad imjournal

# Configure logging
$ActionQueueType LinkedList # use asynchronous processing
$ActionQueueFileName srvrfwd # set file name, also enables disk mode
$ActionResumeRetryCount -1 # infinite retries on insert failure
$ActionQueueSaveOnShutdown on # save in-memory data if rsyslog shuts down

# forward over tcp with octet framing according to RFC 5425
*.* {{ "@" if rsyslog_protocol == "udp" else "@@(o)" }}{{ rsyslog_target_ip }}:{{ rsyslog_port }};RSYSLOG_SyslogProtocol23Format
